@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");
/* font-family: 'Outfit', sans-serif; */

:root {
  --app-SoftBlue: hsl(215, 51%, 70%);
  --app-Cyan: hsl(178, 100%, 50%);
  --app-VeryDarkBlue: hsl(217, 54%, 11%);
  --app-VeryDarkBlue2: hsl(216, 50%, 16%);
  --app-VeryDarkBlue3: hsl(215, 32%, 27%);
  --app-White: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
}
