@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");
/* font-family: 'Outfit', sans-serif; */

:root {
  --app-SoftBlue: hsl(215, 51%, 70%);
  --app-Cyan: hsl(178, 100%, 50%);
  --app-VeryDarkBlue: hsl(217, 54%, 11%);
  --app-VeryDarkBlue2: hsl(216, 50%, 16%);
  --app-VeryDarkBlue3: hsl(215, 32%, 27%);
  --app-White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--app-VeryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

main{
    padding: 25px;
    background: var(--app-VeryDarkBlue2);
    max-width: 360px;
    border-radius: 20px;
}

.nft{
    width: 100%;
    border-radius: 8px;
}
.nft-text{

    display: flex;
    padding-top: 14px;
    gap: 14px;
    flex-direction: column;
    color: var(--app-SoftBlue);
    font-weight: 300;

}
.dates {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.dates section{
    display: flex;
}
.date{
    display: flex;
    gap: 8px;
}
.date p{
    width: 100%;
}
.eth{
    
    font-weight: 600;
    color: var(--app-Cyan);
}

h2{
    font-family: "Outfit", sans-serif;
    color: var(--app-White);
}
hr{
    height: 1px;
    border: none;
    background: var(--app-VeryDarkBlue3);
}

.user{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--app-White);
}
.avatar > img{
    width: 95%;
}
span{
    color: var(--app-White);
    padding-left: 5px;

}
