@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");
/* font-family: 'Outfit', sans-serif; */

:root {
  --app-SoftBlue: hsl(215, 51%, 70%);
  --app-Cyan: hsl(178, 100%, 50%);
  --app-VeryDarkBlue: hsl(217, 54%, 11%);
  --app-VeryDarkBlue2: hsl(216, 50%, 16%);
  --app-VeryDarkBlue3: hsl(215, 32%, 27%);
  --app-White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--app-VeryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

main{
    padding: 25px;
    background: var(--app-VeryDarkBlue2);
    max-width: 360px;
    border-radius: 20px;
}

.nft{
    width: 100%;
    border-radius: 8px;
}